.toDoControler {
  display: grid;
  grid-template-columns: 90% 10%;
  border: 0.5px solid #d8d4d4;
}

.writtenTaskContainer {
  display: grid;
  grid-template-columns: 10% 90%;
}

.writtenTaskContainer input {
  margin-right: 10px 20px 10px 10px;
}

.writtenTaskContainer label {
  padding: 20px 0 20px 10px;
}

.removeButton {
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  border-radius: 50%;
  border: none;
}
