body {
  color: rgb(55, 55, 55);
}

h1 {
  color: #c99599;
  text-align: center;
  font-size: 80px;
}

.toDoContainer {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.newInput {
  color: rgb(55, 55, 55);
  font-size: 20px;
  padding: 16px 16px 16px 55px;
  border: 0.5px solid #d8d4d4;
}

.footerContainer {
  height: 40px;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  border: 0.5px solid #d8d4d4;
}

.itemNumber {
  padding-left: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.button {
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(55, 55, 55);
}

.button:hover {
  border: 1px solid #c99599;
  border-radius: 5px;
}

.button:active {
  border: 1px solid #c99599;
  border-radius: 5px;
}
